.CustomerPage {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.CustomerPage-header {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}

.add-item-btn {
  padding: 6px 12px;
  font-size: 14px;
  background-color: #e7f0ff;
  color: #0058cc;
  border: 1px solid #b3d1ff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

.add-item-btn:hover {
  background-color: #d5e7ff;
}